#include "keys_ru.h"
#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>
#include <dt-bindings/zmk/modifiers.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    chosen { zmk,physical-layout = &gggw_crosses_54_layout; };

    behaviors {
        space_layer_shent: space_layer_shent {
            compatible = "zmk,behavior-tap-dance";
            label = "SPACE_LAYER_SHENT";
            #binding-cells = <0>;
            bindings = <&lt 4 SPACE>, <&kp LS(ENTER)>;
        };

        td_M: td_M {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_M";
            #binding-cells = <0>;
            bindings = <&kp M>, <&kp RIGHT_BRACKET>;
        };

        lt_mkp: lt_mkp {
            compatible = "zmk,behavior-hold-tap";
            label = "LT_MKP";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <200>;
            require-prior-idle-ms = <125>;
            bindings = <&mo>, <&mkp>;
        };

        lt {
            flavor = "hold-preferred";
            tapping-term-ms = <175>;
            quick-tap-ms = <200>;
        };

        hrm_right: hrm_right {
            compatible = "zmk,behavior-hold-tap";
            label = "HRM_RIGHT";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <300>;
            quick-tap-ms = <160>;
            require-prior-idle-ms = <200>;
            flavor = "balanced";
            hold-trigger-key-positions = <0 1 2 4 5 3 12 13 14 15 16 17 29 28 27 26 25 24 36 37 38 39 40 41 48 49 50>;
            hold-trigger-on-release;
        };

        hrm_left: hrm_left {
            compatible = "zmk,behavior-hold-tap";
            label = "HRM_LEFT";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <300>;
            quick-tap-ms = <160>;
            require-prior-idle-ms = <200>;
            flavor = "balanced";
            hold-trigger-key-positions = <47 7 20 9 21 33 33 46 34 22 10 11 23 35 45 8 32 44 43 42 30 31 19 18 6 51 52 53>;
            hold-trigger-on-release;
        };

        backspace: backspace {
            compatible = "zmk,behavior-tap-dance";
            label = "BACKSPACE";
            #binding-cells = <0>;
            bindings = <&mt BACKSPACE BACKSPACE>, <&kp LC(BACKSPACE)>;
        };

        code_backspace: code_backspace {
            compatible = "zmk,behavior-macro";
            label = "CODE_BACKSPACE";
            #binding-cells = <0>;
            bindings = <&kp BACKSPACE &kp BACKSPACE &kp BACKSPACE &kp BACKSPACE>;
        };

        code_delete: code_delete {
            compatible = "zmk,behavior-macro";
            label = "CODE_DELETE";
            #binding-cells = <0>;
            bindings = <&kp DELETE &kp DELETE &kp DELETE &kp DELETE>;
        };

        lg_space: lg_space {
            compatible = "zmk,behavior-mod-morph";
            label = "LG_SPACE";
            #binding-cells = <0>;
            bindings = <&kp SPACE>, <&lg_tog>;

            mods = <(MOD_LGUI)>;
        };
    };

    combos {
        compatible = "zmk,combos";

        num_lauer {
            bindings = <&mo 6>;
            key-positions = <50 49>;
            timeout-ms = <200>;
            require-prior-idle-ms = <100>;
            slow-release;
        };

        en_sym {
            bindings = <&mo 2>;
            key-positions = <48 49>;
            timeout-ms = <120>;
            require-prior-idle-ms = <200>;
            slow-release;
            layers = <0>;
        };

        lang {
            bindings = <&lg_tog>;
            key-positions = <36 50>;
            timeout-ms = <150>;
        };

        ru_sym {
            bindings = <&mo 3>;
            key-positions = <48 49>;
            timeout-ms = <120>;
            slow-release;
            require-prior-idle-ms = <200>;
            layers = <1>;
        };
    };

    macros {
        many_money: many_money {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp LS(D) &kp O &kp C &kp K &kp E &kp R &kp SPACE &kp C &kp O &kp M &kp P &kp O &kp S &kp E &kp SPACE &kp LS(U) &kp LS(P) &kp SPACE &kp MINUS &kp D &kp SPACE &kp N7 &kp N2 &kp N3 &kp N0 &kp N5>;
            label = "MANY_MONEY";
        };

        lg_tog: lg_tog {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            label = "LG_TOG";
            bindings = <&kp LG(SPACE) &tog 1>;
            tap-ms = <30>;
            wait-ms = <0>;
        };

        to_ru: to_ru {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(SPACE)>;
            label = "TO_RU";
            wait-ms = <0>;
            tap-ms = <30>;
        };

        to_en: to_en {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(SPACE)>;
            label = "TO_EN";
            wait-ms = <0>;
            tap-ms = <30>;
        };

        layer_en: layer_en {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&to 0 &to_en>;
            label = "LAYER_EN";
            wait-ms = <0>;
            tap-ms = <30>;
        };

        layer_ru: layer_ru {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&to 1 &to_ru>;
            label = "LAYER_RU";
            tap-ms = <30>;
            wait-ms = <0>;
        };

        en: en {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings =
                <&to_en>,
                <&macro_press>,
                <&macro_param_1to1 &kp MACRO_PLACEHOLDER>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&macro_param_1to1 &kp MACRO_PLACEHOLDER>,
                <&macro_tap>,
                <&to_ru>;

            label = "EN";
            wait-ms = <0>;
            tap-ms = <30>;
        };

        win_combo: win_combo {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            wait-ms = <0>;
            tap-ms = <30>;
            bindings =
                <&macro_press>,
                <&kp LGUI>,
                <&macro_tap>,
                <&macro_param_1to1 &kp MACRO_PLACEHOLDER>,
                <&macro_release>,
                <&kp LGUI>;

            label = "WIN_COMBO";
        };

        rwin_combo: rwin_combo {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            wait-ms = <0>;
            tap-ms = <30>;
            bindings =
                <&macro_press>,
                <&kp RGUI>,
                <&macro_tap>,
                <&macro_param_1to1 &kp MACRO_PLACEHOLDER>,
                <&macro_release>,
                <&kp RGUI>;

            label = "RWIN_COMBO";
        };

        win_ctrl_combo: win_ctrl_combo {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            wait-ms = <0>;
            tap-ms = <30>;
            bindings =
                <&macro_press>,
                <&kp LCTRL &kp LGUI>,
                <&macro_tap>,
                <&macro_param_1to1 &kp MACRO_PLACEHOLDER>,
                <&macro_release>,
                <&kp LGUI>,
                <&macro_release>,
                <&kp LCTRL>;

            label = "WIN_CTRL_COMBO";
        };

        #include "encoding_macros.dtsi"
    };

    keymap {
        compatible = "zmk,keymap";

        base_en {
            display-name = "Base EN";
            bindings = <
&trans      &trans                &trans                  &trans             &trans                &tog 1           &many_money  &trans                  &trans              &trans                    &lg_tog                         &to 10
&kp ESCAPE  &kp Q                 &kp W                   &kp E              &kp R                 &kp T            &kp Y        &kp U                   &kp I               &kp O                     &kp P                           &kp LEFT_BRACKET
&lt 2 TAB   &hrm_left LEFT_WIN A  &hrm_left LEFT_SHIFT S  &hrm_left LCTRL D  &hrm_left LEFT_ALT F  &kp G            &kp H        &hrm_right RIGHT_ALT J  &hrm_right RCTRL K  &hrm_right RIGHT_SHIFT L  &hrm_right RIGHT_WIN SEMICOLON  &kp SQT
&kp LCTRL   &kp Z                 &kp X                   &kp C              &kp V                 &kp B            &kp N        &kp M                   &kp COMMA           &kp DOT                   &kp FSLH                        &kp BACKSLASH
                                                          &lt 7 ENTER        &lt 5 DEL             &lt 4 LA(ENTER)  &lt 4 SPACE  &kp BACKSPACE           &mt LEFT_SHIFT TAB
            >;
        };

        base_ru {
            display-name = "Base RU";
            bindings = <
&trans         &trans                             &trans                                 &trans                          &trans                            &none               &trans              &trans                              &trans                           &trans                                 &trans                                &none
&trans         &kp RU_CYRILLIC_SHORT_I            &kp RU_CYRILLIC_TSE                    &kp RU_CYRILLIC_U               &kp RU_CYRILLIC_KA                &kp RU_CYRILLIC_IE  &kp RU_CYRILLIC_EN  &kp RU_CYRILLIC_GHE                 &kp RU_CYRILLIC_SHA              &kp RU_CYRILLIC_SHCHA                  &kp RU_CYRILLIC_ZE                    &kp RU_CYRILLIC_HA
&lt 3 LG(TAB)  &hrm_left LEFT_WIN RU_CYRILLIC_EF  &hrm_left LEFT_SHIFT RU_CYRILLIC_YERU  &hrm_left LCTRL RU_CYRILLIC_VE  &hrm_left LEFT_ALT RU_CYRILLIC_A  &kp RU_CYRILLIC_PE  &kp RU_CYRILLIC_ER  &hrm_right RIGHT_ALT RU_CYRILLIC_O  &hrm_right RCTRL RU_CYRILLIC_EL  &hrm_right RIGHT_SHIFT RU_CYRILLIC_DE  &hrm_right RIGHT_WIN RU_CYRILLIC_ZHE  &kp RU_CYRILLIC_E
&trans         &kp RU_CYRILLIC_YA                 &kp RU_CYRILLIC_CHE                    &kp RU_CYRILLIC_ES              &kp RU_CYRILLIC_EM                &kp RU_CYRILLIC_I   &kp RU_CYRILLIC_TE  &kp RU_CYRILLIC_SOFT_SIGN           &kp RU_CYRILLIC_BE               &kp RU_CYRILLIC_YU                     &kp RU_DOT                            &kp RU_CYRILLIC_IO
                                                                                         &trans                          &trans                            &trans              &trans              &trans                              &trans
            >;
        };

        sym_en {
            display-name = "Sym EN";
            bindings = <
&trans  &trans  &trans        &trans     &trans     &trans     &trans     &trans       &trans     &trans    &trans      &trans
&trans  &trans  &kp CARET     &kp LT     &kp GT     &kp GRAVE  &kp UNDER  &kp MINUS    &kp EQUAL  &kp PLUS  &none       &trans
&trans  &trans  &kp TILDE     &kp LBRC   &kp RBRC   &kp SQT    &kp COLON  &kp SEMI     &kp PIPE   &kp BSLH  &kp FSLH    &kp EXCL
&trans  &trans  &kp ASTERISK  &kp LPAR   &kp RPAR   &kp DQT    &kp AT     &kp PERCENT  &kp AMPS   &kp HASH  &kp DOLLAR  &kp QUESTION
                              &kp LG(V)  &kp LC(V)  &kp LC(C)  &trans     &trans       &trans
            >;
        };

        sym_ru {
            display-name = "Sym RU";
            bindings = <
&trans  &trans  &trans     &trans     &trans     &trans      &trans        &trans       &trans     &trans            &trans       &trans
&trans  &trans  &en CARET  &en LT     &en GT     &en GRAVE   &kp UNDER     &kp MINUS    &kp EQUAL  &kp PLUS          &none        &trans
&trans  &trans  &en TILDE  &en LBRC   &en RBRC   &kp RU_DQT  &kp RU_COLON  &kp RU_SEMI  &en PIPE   &kp RU_BACKSLASH  &kp RU_FSLH  &kp EXCL
&trans  &trans  &kp STAR   &kp LPAR   &kp RPAR   &kp RU_DQT  &en AT        &kp PRCNT    &en AMPS   &en HASH          &kp DOLLAR   &kp RU_QMARK
                           &kp LG(V)  &kp LC(V)  &kp LC(C)   &trans        &trans       &trans
            >;
        };

        nav_layer {
            display-name = "Navigation";
            bindings = <
&trans  &kp N1  &trans  &trans     &trans     &trans  &trans          &trans          &trans        &sys_reset  &bt BT_NXT        &bt BT_SEL 0
&trans  &trans  &trans  &trans     &trans     &trans  &kp END         &kp PAGE_DOWN   &kp PAGE_UP   &kp HOME    &kp DELETE        &kp BACKSPACE
&trans  &trans  &trans  &trans     &trans     &trans  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT   &kp LEFT_BRACKET  &kp RIGHT_BRACKET
&trans  &trans  &mo 9   &mkp LCLK  &mkp RCLK  &mo 7   &mkp LCLK       &mkp LCLK       &trans        &trans      &trans            &trans
                        &trans     &trans     &trans  &kp LG(SPACE)   &trans          &trans
            >;
        };

        hotkey_layer {
            display-name = "Hotkeys";
            bindings = <
&win_ctrl_combo TILDE  &win_ctrl_combo SPACE  &trans                  &trans                 &kp LC(PRINTSCREEN)    &kp LA(PRINTSCREEN)  &sys_reset           &trans                   &trans           &trans  &trans  &bt BT_NXT
&win_combo TILDE       &win_ctrl_combo SPACE  &trans                  &win_combo PAGE_DOWN   &win_combo PAGE_UP     &trans               &kp K_PREV           &kp C_PLAY_PAUSE         &kp C_NEXT       &trans  &trans  &trans
&win_combo T           &win_combo Z           &rwin_combo LEFT_ARROW  &win_combo DOWN_ARROW  &win_combo UP_ARROW    &rwin_combo RIGHT    &kp C_VOL_DN         &kp K_MUTE               &kp C_VOLUME_UP  &trans  &trans  &trans
&win_combo TAB         &trans                 &win_ctrl_combo D       &win_ctrl_combo LEFT   &win_ctrl_combo RIGHT  &win_ctrl_combo F4   &kp LC(PRINTSCREEN)  &kp LA(LC(PRINTSCREEN))  &trans           &trans  &trans  &trans
                                                                      &trans                 &trans                 &trans               &trans               &trans                   &trans
            >;
        };

        numpad_layer {
            display-name = "Numpad";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans           &trans      &trans           &kp KP_NUM
&trans  &trans  &trans  &trans  &trans  &trans  &kp N7  &kp N8  &kp N9           &kp N0      &kp KP_MULTIPLY  &kp KP_NUMLOCK
&trans  &trans  &trans  &trans  &trans  &trans  &kp N4  &kp N5  &kp N6           &trans      &kp MINUS        &kp EQUAL
&trans  &trans  &trans  &trans  &trans  &trans  &kp N1  &kp N2  &kp N3           &kp KP_DOT  &trans           &trans
                        &trans  &trans  &trans  &trans  &trans  &kp RIGHT_SHIFT
            >;
        };

        function_layer {
            display-name = "Function";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans   &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &kp F7  &kp F8  &kp F9  &kp F12  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &kp F4  &kp F5  &kp F6  &kp F11  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &kp F1  &kp F2  &kp F3  &kp F10  &trans  &trans
                        &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        mouse {
            display-name = "Mouse";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans    &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans    &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &mo 3     &trans    &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &mo 9   &mkp MB1  &mkp MB2  &mo 5   &trans  &trans  &trans
                        &trans  &trans  &trans  &trans    &trans    &trans
            >;
        };

        sniper {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        encoding_layer {
            display-name = "Encoding";
            bindings = <
&trans          &code_num_1  &code_num_2  &code_num_3  &code_num_4   &code_num_5  &code_num_6  &code_num_7      &code_num_8  &code_num_9  &code_num_0  &trans
&trans          &code_Q      &code_W      &code_E      &code_R       &code_T      &code_Y      &code_U          &code_I      &code_O      &code_P      &trans
&kp LEFT_SHIFT  &code_A      &code_S      &code_D      &code_F       &code_G      &code_H      &code_J          &code_K      &code_L      &trans       &trans
&trans          &code_Z      &code_X      &code_C      &code_V       &code_B      &code_N      &code_M          &trans       &trans       &trans       &trans
                                          &to 0        &code_delete  &mo 0        &trans       &code_backspace  &trans
            >;
        };
    };
};
